@font-face {
	font-family: "Lucida Grande";
	src: url("../fonts/LucidaGrande.ttf") format("truetype");
}
  
@font-face {
	font-family: "Lucida Grande";
	src: url("../fonts/LucidaGrandeBold.ttf") format("truetype");
	font-weight: bold;
}

html, body {
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-family:  'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1, h2 {
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.cta {
	font-size: 1.5em;
	background: linear-gradient(#FCC889, #8A1F27);
	border: 1px solid #373736;
	border-radius: 10px;
	padding: 10px 100px;
	text-decoration: none;
	box-shadow: 0 3px 3px #F0F0F0;
}

.cta:hover {
	color: #373736;
	background: linear-gradient(#FFFFFF, #FCC889);
}

/* HEADER
----------------*/
.header {
    background: linear-gradient(.25turn, #FFF, 30%, #59111d 50%);
    border: solid 1px #707070;
	box-shadow: 0 3px 3px #F0F0F0;
}

.header__main-flex-container {
	max-width: 1366px;
	margin: auto;
	display: flex;
	justify-content: space-between; /*Not supported on some Edge browsers according to css-tricks*/
	align-items: center;
	padding: 10px 20px;
}

.header__hamburger-menu-icon {
	display: none;
}

#hamburger-menu {
	display: none;
}

.nav {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
}

.nav__link {
	text-transform: uppercase;
	padding: 1em;
	text-align: center;
	border: 1px hidden;
	border-radius: 5px;
}

.nav__link:hover {
	text-decoration: underline;
	background: #74302F;
}


.nav__link--border {
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	margin-left: 0.5em;
}

.nav__link--border:hover {
	color: #59111d;
	background: linear-gradient(#FFF, #FCC889);
	text-decoration: none;
}

.nav__search-flex-container-outer { /*Need this container to justify-content 
	without messing up .nav__search-icon which has position: absolute*/
	flex-grow: 1;
	margin: 0 40px;
	min-width: 100px;
	max-width: 400px;
	display: flex;
	justify-content: flex-end;
}

.nav__search-flex-container-inner {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 375px;
}

.nav__search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
  }

.nav__search {
	border: 1px #707070;
	height: 25px;
	padding: 2px 2px 2px 30px;
	width: 100%;
	max-width: 375px;
}

/* LANDING PAGE
----------------*/

.welcome {
	max-width: 1366px;
	margin: 20px auto;
	padding: 0 20px;
	display: grid;
	gap: 5px 20px;
	place-items: center;
	grid-template: repeat(auto, 4) / 1fr 1fr;
	color: #000000;
}

.welcome__logo {
	max-width: 600px;
	grid-column: span 2;
}


.welcome__slogan {
	text-align: center;
	font-style: italic;
	font-size: 2rem;
	margin-top: 0;
	grid-column: span 2;
}

.cta--span {
	grid-column: span 2;
	margin: auto;
}

.landing-content-background {
	background-color: #373736;
}

.landing-content {
	max-width: 1366px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: auto 1fr;
	justify-content: left;
	gap: 60px;
}

.landing-content > section {
	margin-left: 20px;
	margin-bottom: 20px;
}

.landing-content__highest-rated__grid-container {
	display: grid;
	gap: 10px;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(5, auto);
}

.landing-content__highest-rated__grid-container a {
	text-decoration: underline;
	color: #FCC889;
}

.landing-content__highest-rated__grid-container a:hover {
	color: #FFFFFF;
}

/* FEATURED FILMS
----------------*/
.featured {
	height: 750px;
	margin: 0 20px 30px 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto 20px repeat(5, auto);
	background-color: #59111d;
}

.featured__heading {
	background-color: #373736;
	grid-column: span 2;
}


.featured__browse-buttons {	
	
	background-color: #373736;
	align-self: center;
	justify-self: end;
}

.featured__title {
	grid-column: span 3;
}

.featured__image {
	grid-column: span 3;
	background-image: url("../images/nadim-merrikh-MBCWO39JVsI-unsplash_medium.png");
	height: 360px;
}

.featured__synopsis {
	grid-column: span 3;
}

.featured__info {
	grid-column: span 2;
}


/* FOOTER
----------------*/
footer {
	background-color: #707070;
	margin-top: -20px; /* At least it removes the space between main and footer */
}

.footer-flex-container {
	max-width: 1366px;
	margin: auto;
	display: flex;
	justify-content: space-between; /*Not supported on some Edge browsers according to css-tricks*/

}

.footer-flex-items {
	margin: 50px 20px;
}

.footer-flex-item1 {
	display: grid;
	gap: 15px;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
}

.footer-input {
	border-color: #FFFFFF;
	border-radius: 3px;
	height: 25px;
	padding: 2px 2px 2px 20px;
	width: 100%;
	max-width: 375px;
	background-color: #707070;
}

.footer-input::placeholder {
	color: #FFFFFF;
}

.footer-flex-item2 form {
	max-width: 400px;
	display: grid;
	gap: 23px;
	grid-template-columns: auto auto;
	align-items: center;
}

.footer-submit {
	padding: 8px 15px;
	border-radius: 3px;
}

/* MEDIA QUERIES
----------------*/

@media only screen and (max-width: 900px) {

	.nav {
		flex-wrap: wrap-reverse;
	}

	.nav__search-flex-container-outer {
		width: 90%;
		max-width: 90%;
		margin: 10px 0 0 40px;
	}


	.welcome {
		grid-template: repeat(auto, 5) / 1fr 1fr;

	}

	.welcome__desc {
		grid-column: span 2;
	}

	.landing-content {
		margin: 20px auto;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		gap: 30px;
		justify-content: center;
	}

	.landing-content > section {
		margin-left: 0;
	}

	.landing-content__highest-rated {
		grid-row: 2;
	}
	
	.featured {
		grid-row: 1; 
	}

	.landing-content__highest-rated__grid-container {
		gap: 20px;
		grid-template-columns: repeat(2, auto 1fr);
		grid-template-rows: repeat(3, auto);
	}
}



@media only screen and (max-width: 650px) {

	.header {
		background: linear-gradient(.25turn, #FFF, 45%, #59111d 65%);
	}

	.nav {
		display: none;
	}

	.header__hamburger-menu-icon {
		display: inline;
	}

	.nav__sign-up {
		margin-top: 10px;
	}

	#hamburger-menu:checked ~ .nav { /*Using Firefox dev tools it looks like
		the menu sometimes overflows to the right. Not sure why */
		width: 100%;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 116px;
		left: 0px;
		z-index: 1000;
		background-color: #59111d;
		padding-bottom: 15px;
	}

	.nav__search-flex-container-outer {
		margin: 15px 0 10px 0;
		justify-content: center;
	}

	.welcome__logo {
		display: none;
	}

	.landing-content__highest-rated__grid-container {
		gap: 20px;
		grid-template-columns: auto 1fr;
		grid-template-rows: repeat(5, auto);
	}
	
	.footer-flex-container {
		flex-direction: column;
		justify-content: center;
	}

	.footer-flex-items {
		margin: 30px 20px 10px 20px;
	}

}