:root {
	--main-bg-color: #373736;
	--second-bg-color: #59111d;
	--main-txt-color: #FFFFFF;
  }

@font-face {
	font-family: "Lucida Grande";
	src: url("../fonts/LucidaGrande.ttf") format("truetype");
}
  
@font-face {
	font-family: "Lucida Grande";
	src: url("../fonts/LucidaGrandeBold.ttf") format("truetype");
	font-weight: bold;
}

/* GLOBAL
----------------*/
html, body {
	color: var(--main-txt-color);
	margin: 0;
	padding: 0;
	font-family:  'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Verdana, sans-serif;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

h1 {
	margin: 0 0 64px 0;
}

h2 {
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

main {
	background-color: var(--main-bg-color);
	min-height: 80vh;
}

.colored-box {
	background-color: var(--second-bg-color);
	box-shadow: 0 3px 3px #2F2F2E;
}

.cta {
	font-size: 1.5em;
	background: linear-gradient(#FCC889, #8A1F27);
	border: 1px solid var(--main-bg-color);
	border-radius: 10px;
	padding: 10px 100px;
	box-shadow: 0 3px 3px #2F2F2E;
}

.cta:hover {
	color: var(--main-bg-color);
	background: linear-gradient(#FFFFFF, #FCC889);
}

.cta--weak {
	background: none;
	border: 1px solid #FFFFFF;
}

.cta--weak:hover {
	color: #FFFFFF;
	background: linear-gradient(#707070, #383838);
}

.film-card {
	margin: 0 25px 30px 0;
}

.film-card__list {
	list-style-type: none;
	padding: 0;
	line-height: 1.8;
	margin-top: 0;
	margin-bottom: 32px;
}

.narrow-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.normal-anchor {
	color: #FCC889;
	text-decoration: underline;
}

.normal-anchor:hover {
	color: var(--main-txt-color);
	text-decoration: underline;
}

.padded {
	padding: 64px 20px;
}

.text-box {
	padding: 56px 56px 24px 56px;
}

.wide-page {
	max-width: 1366px;
	margin: auto;
}

/* ACCOUNT PAGE
----------------*/

.account {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 32px;
}

.menu {
	width: 290px;
	display: grid;
	grid-template-rows: repeat(5, 100px);
}

.menu__link {
	text-transform: uppercase;
	padding: 40px;
}

.menu__link:hover {
	text-decoration: underline;
	background: #74302F;
}

.menu__link--active {
	color: #707070;
}

.rating {
	display: inline-block;
	position: relative;
	bottom: 8px;
	margin-right: 5px;
	margin-bottom: 30px;
}

/* BROWSE PAGE
----------------*/

.browse {
	display: grid;
	grid-template-rows: repeat(6, auto);
	gap: 80px;
}

.browse__heading {
	display: inline-block;
	margin-bottom: 20px;
}

.film-card__image {
	max-width: 100%;
	height: auto;
}

.filter {
	float: right;
}

.filter__heading {
	display: inline-block;
	margin: 8px 10px 10px 0
}

.filter__genre {
	display: inline-block;
	border: solid 3px #707070;
	padding: 4px 18px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.lineup {
	display: grid;
	grid-template-rows: auto auto;
}

.lineup__arrow {
	float: right;
	margin-right: 30px;
	margin-bottom: 16px;
	opacity: 0.3;
}

.lineup__arrow--clickable {
	opacity: 1;
}

.lineup__arrow--small-margin {
	margin-right: 16px;
}

.lineup__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.lineup__heading {
	display: inline-block;
	margin-top: 0;
}

/* CREATE ACCOUNT -,
ACCOUNT CREATED - and
SIGN UP PAGES
----------------*/

.log-in {
	display: flex;
	flex-direction: column;
}

.log-in__anchor {
	align-self: flex-end;
	margin-bottom: 32px;
	margin-top: 8px;
}

.log-in__label {
	text-transform: uppercase;
	margin-bottom: 5px;
}

.log-in__input {
	margin-bottom: 32px;
	min-width: 350px;
	padding: 10px;
	border-radius: 8px;
}

.log-in__submit {
	color:#FFFFFF;
	margin: 32px auto;
}

.log-in-paragraph {
	margin-bottom: 32px;
	max-width: 350px;
}

/* FEATURED FILMS
----------------*/

.feat-card {
	display: grid;
	grid-template-rows: repeat(5, auto);
}

.feat-card__anchor {
	text-transform: uppercase;
	justify-self: end;
}

.feat-card__bottom {
	margin: 24px 32px 0 32px;
	display: grid;
	grid-template-columns: 50% 50%;
}

.feat-card__desc {
	padding: 24px 32px;
}

.feat-card__heading {
	justify-self: center;
	text-transform: uppercase;
}

.feat-card__image {
	width: 100%;
	height: auto;
}

.feat-card__indic-container {
	display: grid;
	grid-template-columns: repeat(3, 33%);
}

.feat-card__indicator {
	height: 20px;
}

.feat-card__indicator--active {
	background-color: #6B1620;
}

.featured__arrow {
	margin: 20px 0 0 16px;
}

.featured__heading {
	display: inline-block;
}


/* FILM PAGES
----------------*/

.large-film-card {
	display: grid;
	grid-template-columns: 50% 50%;
}

.large-film-card__info {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr auto;
	gap: 50px 20px;
}


.large-film-card__play-trailer {
	display: inline-block;
	position: relative;
	bottom: 81px;
	right: 50px;
	background-color: var(--second-bg-color);
	padding: 5px 15px;
	border-radius: 0 40px 40px 0;
	text-decoration: underline;

}

.large-film-card__trailer {
	height: 100%;
	width: 100%;
	background-image: url(../images/films/ancestors_of_the_nation_large.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	place-items: center;
}

.large-film-card__trailer--accidents-of-fire {
	background-image: url(../images/films/accidents_of_fire_large.jpg);
}

.large-film-card__trailer--mercenary-of-exploration {
	background-image: url(../images/films/mercenary_of_exploration_large.jpg);
}

.large-film-card__synopsis {
	grid-column: span 2;
}

.film-page-cta {
	margin: 32px auto 0 auto;
	display: block;
	width: 200px;
	text-align: center;
}

.film-page-cta--weak {
	margin: 16px auto 0 auto;
}

/* FOOTER
----------------*/

.footer {
	background-color: #707070;
	padding: 56px 0 48px 0;
}

.footer__flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.footer__social-media {
	display: flex;
	place-items: center;
}

.footer__social-media-icon-1 {
	margin-right: 20px;
}

.footer__social-media-icon-2 {
	margin-right: 11px;
}

.footer__social-media-icon-3 {
	margin-right: 11px;
}

.footer__input::placeholder {
	color: var(--main-txt-color);
}

.footer__form {
	max-width: 400px;
	display: grid;
	gap: 23px;
	grid-template-columns: auto auto;
	align-items: center;
}

.footer__input {
	border-color: #FFFFFF;
	color: var(--main-txt-color);
	border-radius: 3px;
	height: 25px;
	padding: 2px 2px 2px 20px;
	width: 100%;
	max-width: 375px;
	background-color: #707070;
}

.footer__submit {
	padding: 8px 15px;
	border-radius: 3px;
	max-width: 50px;
}

/* HEADER
----------------*/
.header {
    background: linear-gradient(.25turn, #FFF, 30%, var(--second-bg-color) 50%);
    border: solid 1px #707070;
	box-shadow: 0 3px 3px #2F2F2E;
}

.header__main-flex-container {
	display: flex;
	justify-content: space-between; /*Not supported on some Edge browsers according to css-tricks*/
	align-items: center;
	padding: 10px 20px;
}

.header__hamburger-menu-icon {
	display: none;
}

#hamburger-menu {
	display: none;
}

.nav {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: flex-end;
}

.nav__link {
	text-transform: uppercase;
	padding: 1em;
	text-align: center;
	border: 1px hidden;
	border-radius: 5px;
}

.nav__link:hover {
	text-decoration: underline;
	background: #74302F;
}


.nav__link--border {
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	margin-left: 0.5em;
}

.nav__link--border:hover {
	color: var(--second-bg-color);
	background: linear-gradient(#FFF, #FCC889);
	text-decoration: none;
}

.nav__search-flex-container-outer { /*Need this container to justify-content 
	without messing up .nav__search-icon which has position: absolute*/
	flex-grow: 1;
	margin: 0 40px;
	min-width: 100px;
	max-width: 400px;
	display: flex;
	justify-content: flex-end;
}

.nav__search-flex-container-inner {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 375px;
}

.nav__search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
  }

.nav__search {
	border: 1px #707070;
	height: 25px;
	padding: 2px 2px 2px 30px;
	width: 100%;
	max-width: 375px;
}

/* LANDING PAGE CONTENT
----------------*/

.landing-content {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-content: left;
	gap: 60px;
}

.highest-list {
	display: grid;
	gap: 10px;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(5, auto);
}

/* PAYMENT PAGE
----------------*/

.log-in__input--short {
	min-width: 210px;
}

.ppv__short-input {
	margin-bottom: 32px;
	max-width: 100px;
	padding: 10px;
	border-radius: 8px;
}

.pay-method {
	display: grid;
	place-items: center;	
	grid-template-columns: auto auto auto;
	gap: 40px;
	margin-top: 30px;
}

.pay-method__icon {
	max-width: 100%;
	height: auto;
}

.ppv {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
	gap: 0 40px;
}

.ppv__double-fields {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.ppv__submit {
	grid-column: span 2;
}

.ppv__field {
	border: 0px;
	margin-top: 56px;
	display: flex;
	flex-direction: column;
}

.ppv__title {
	font-size: larger;
	text-transform: capitalize;
	margin-bottom: 32px;
}

/* SEARCH PAGE
----------------*/

.search-page__search {
	margin: 64px 0;
	border: 1px #707070;
	height: 40px;
	width: 613px;
	max-width: 70%;
	padding: 2px 2px 2px 20px;
}

.search-page__submit-search {
	position: relative;
	top: 14px;
	left: 8px;
}

.search-page__search-term {
	font-style: italic;
}

.search-page__flex-container {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
}

/* WELCOME
----------------*/
.welcome {
	background-color: #FFFFFF;
}

.welcome__grid-container {
	margin-bottom: 20px;
	padding: 20px;
	display: grid;
	gap: 5px 20px;
	place-items: center;
	grid-template: repeat(4, auto) / 1fr 1fr;
	color: #000000;
}

.welcome__logo {
	max-width: 600px;
	grid-column: span 2;
}

.welcome__slogan {
	text-align: center;
	font-style: italic;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 10px;
	grid-column: span 2;
}

.cta--span {
	grid-column: span 2;
	margin: auto;
	box-shadow: 0 3px 3px #0003;

}

/* MEDIA QUERIES
----------------*/

@media only screen and (max-width: 900px) {

	.large-film-card {
		grid-template: 360px auto / auto;
	}
	
	.nav {
		flex-wrap: wrap-reverse;
	}

	.nav__search-flex-container-outer {
		width: 90%;
		max-width: 90%;
		margin: 10px 0 0 40px;
	}


	.welcome {
		grid-template: repeat(auto, 5) / 1fr 1fr;

	}

	.welcome__desc {
		grid-column: span 2;
	}

	.landing-content {
		margin: 20px auto;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		gap: 30px;
		justify-content: center;
	}

	.landing-content > section {
		margin-left: 0;
	}

	.landing-content__highest-rated {
		grid-row: 2;
	}
	
	.featured {
		grid-row: 1; 
	}

	.highest-list {
		gap: 20px;
		grid-template-columns: repeat(2, auto 1fr);
		grid-template-rows: repeat(3, auto);
	}

	.footer--index {
		margin-top: -20px;
	}
}

@media only screen and (max-width: 650px) {

	.account {
		grid-template: auto auto / auto;
	}
	
	.feat-card__anchor {
		justify-self: center;
		margin-top: 24px;
	}
	
	.feat-card__bottom {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		margin-bottom: 32px;
	}

	.film-page-cta {
		width: 150px;
		padding: 10px 50px;
	}
	
	.header {
		background: linear-gradient(.25turn, #FFF, 65%, var(--second-bg-color) 100%);
	}
	.nav {
		display: none;
	}

	.header__hamburger-menu-icon {
		display: inline;
	}

	.nav__sign-up {
		margin-top: 10px;
	}

	#hamburger-menu:checked ~ .nav { /*Using Firefox dev tools it looks like
		the menu sometimes overflows to the right. Not sure why */
		width: 100%;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 116px;
		left: 0px;
		z-index: 1000;
		background-color: var(--second-bg-color);
		padding-bottom: 15px;
		border: solid 1px #707070;
	}

	.nav__search-flex-container-outer {
		margin: 15px 0 10px 0;
		justify-content: center;
	}

	.pay-method {
		grid-template: auto auto auto / auto;
		gap: 10px;

	}

	.welcome__logo {
		display: none;
	}

	.highest-list {
		gap: 20px;
		grid-template-columns: auto 1fr;
		grid-template-rows: repeat(5, auto);
	}
	
	.footer {
		padding: 20px 30px;
	}

	.footer__flex-container {
		flex-direction: column;
		place-items: normal;
		padding: 0 20px;
	}

	.footer__flex-item {
		margin-top: 20px;
		margin-bottom: 20px; 
	}

	.log-in__input {
		min-width: 230px;
	}

	.ppv {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
	}

	.ppv__submit {
		grid-column: 1;
		padding: 10px 80px;
	}

	.text-box {
		padding: 56px 32px 24px 32px;
	}
}